In [5]:
enumerate("euron")

In [6]:
list(enumerate("euron"))

[(0, 'e'), (1, 'u'), (2, 'r'), (3, 'o'), (4, 'n')]

In [7]:
for  i in enumerate("euron"):
    print(i)

(0, 'e')
(1, 'u')
(2, 'r')
(3, 'o')
(4, 'n')

In [9]:
for  index , data in enumerate("euron"):
    print(index,data)

0 e
1 u
2 r
3 o
4 n

In [15]:
l = [1,2,3,4]
l1 = ["sudh","kumar","euron"]
l2 = [5,6,7]

In [16]:
list(zip(l,l1,l2))

[(1, 'sudh', 5), (2, 'kumar', 6), (3, 'euron', 7)]

In [18]:
list(reversed("sudh"))

['h', 'd', 'u', 's']

In [20]:
sorted([3,4,1,2],reverse = True)

[4, 3, 2, 1]

In [21]:
d ={"name":"sudhanshu","comapany":"euron","subject":["data","ops","dsa"]}

In [23]:
for i in d.items():
    print(i)

('name', 'sudhanshu')
('comapany', 'euron')
('subject', ['data', 'ops', 'dsa'])